@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-neutral-50: 238 241 245;
  --color-neutral-100: 222 227 235;
  --color-neutral-200: 190 199 214;
  --color-neutral-300: 160 172 192;
  --color-neutral-400: 132 146 167;
  --color-neutral-500: 106 120 141;
  --color-neutral-600: 83 95 113;
  --color-neutral-700: 60 70 85;
  --color-neutral-800: 39 47 58;
  --color-neutral-900: 18 23 29;
  --color-neutral-950: 6 9 13;

  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-800);
  --color-card: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-neutral-950);
    --color-foreground: var(--color-neutral-200);
    --color-card: var(--color-neutral-900);
  }
}

body {
  @apply flex min-h-dvh flex-col items-center justify-center bg-background p-4
text-foreground;
}
